In [9]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("Heart.csv")

In [ ]:
df.head()

   Unnamed: 0  Age  Sex     ChestPain  ...  Slope   Ca        Thal  AHD
0           1   63    1       typical  ...      3  0.0       fixed   No
1           2   67    1  asymptomatic  ...      2  3.0      normal  Yes
2           3   67    1  asymptomatic  ...      2  2.0  reversable  Yes
3           4   37    1    nonanginal  ...      3  0.0      normal   No
4           5   41    0    nontypical  ...      1  0.0      normal   No

[5 rows x 15 columns]

###a) Find Shape of Data

In [ ]:
df.shape

(303, 15)

###b) Find Missing Values

In [ ]:
df.notnull()

     Unnamed: 0   Age   Sex  ChestPain  ...  Slope     Ca  Thal   AHD
0          True  True  True       True  ...   True   True  True  True
1          True  True  True       True  ...   True   True  True  True
2          True  True  True       True  ...   True   True  True  True
3          True  True  True       True  ...   True   True  True  True
4          True  True  True       True  ...   True   True  True  True
..          ...   ...   ...        ...  ...    ...    ...   ...   ...
298        True  True  True       True  ...   True   True  True  True
299        True  True  True       True  ...   True   True  True  True
300        True  True  True       True  ...   True   True  True  True
301        True  True  True       True  ...   True   True  True  True
302        True  True  True       True  ...   True  False  True  True

[303 rows x 15 columns]

###c) Find data type of each column

In [ ]:
for d in df.dtypes.items():
    print(d)

('Unnamed: 0', dtype('int64'))
('Age', dtype('int64'))
('Sex', dtype('int64'))
('ChestPain', dtype('O'))
('RestBP', dtype('int64'))
('Chol', dtype('int64'))
('Fbs', dtype('int64'))
('RestECG', dtype('int64'))
('MaxHR', dtype('int64'))
('ExAng', dtype('int64'))
('Oldpeak', dtype('float64'))
('Slope', dtype('int64'))
('Ca', dtype('float64'))
('Thal', dtype('O'))
('AHD', dtype('O'))

###d)Find Mean age of patients

In [ ]:
df["Age"].mean()

54.43894389438944

### e) Finding out Zero's

In [4]:
(df==0).sum()

Unnamed: 0      0
Age             0
Sex            97
ChestPain       0
RestBP          0
Chol            0
Fbs           258
RestECG       151
MaxHR           0
ExAng         204
Oldpeak        99
Slope           0
Ca            176
Thal            0
AHD             0
dtype: int64

###f) How many Patient ChestPain is typical

In [11]:
df[df["ChestPain"]=="typical"].count()

Unnamed: 0    23
Age           23
Sex           23
ChestPain     23
RestBP        23
Chol          23
Fbs           23
RestECG       23
MaxHR         23
ExAng         23
Oldpeak       23
Slope         23
Ca            23
Thal          23
AHD           23
dtype: int64